@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Dosis:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Dosis', Arial, Tahoma, sans-serif;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Archivo CSS (puede ser index.css, tailwind.css, etc.) */

/* Estilo de los puntos (dots) */
.slick-dots li button:before {
  color: white;
  /* Color blanco por defecto */
}

.slick-dots li.slick-active button:before {
  color: var(--blueprimary);
  /* Color azul cuando está activo */
}

/* Hacer los puntos más grandes */
.slick-dots li button:before {
  font-size: 12px;
  /* Ajusta el tamaño según prefieras */
}

/* Estilo de las flechas */
.slick-prev:before,
.slick-next:before {
  color: white;
  /* Color blanco para las flechas */
}

@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Dosis:wght@400;700&display=swap');