/* src/app.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* Resto de estilos de tu archivo global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
/* styles/globals.css */
.input {
  @apply border p-2 w-full rounded;
}

.btn {
  @apply px-4 py-2 rounded font-bold text-white;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700;
}

.btn-secondary {
  @apply bg-gray-500 hover:bg-gray-700;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@keyframes bounce {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 90%;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.input-class:focus {
  outline: none;
  border: 2px solid blue;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.edit-modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  /* Ancho del modal aumentado */
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Añadir reset */
.input-class {
  transition: border 0.3s ease;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.bg-blue-700 {
  background-color: #2b6cb0;
  /* Un color azul oscuro para resaltar el item seleccionado */
}


.loader {
  border-top-color: #3498db;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-width: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

text-white {
  color: white;
}

.icon-spacing {
  margin-right: 8px;
  /* Ajusta el valor según sea necesario */
}

/* En tu archivo CSS global */
img.rounded-full {
  border-radius: 80%;
}



.bounce {
  animation: bounce 0.5s ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Dosis', sans-serif;
  background: white;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: var(--bluePrimary);
}

.slick-dots li button:before {
  font-size: 12px;
  display: none !important;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.bg-blueSecundary {
  background-color: #007BFF;
}

.text-white {
  color: #FFFFFF;
}

.transition-all {
  transition: all 0.3s;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.w-64 {
  width: 16rem;
}

.w-16 {
  width: 4rem;
}

.ml-64 {
  margin-left: 16rem;
}

.ml-16 {
  margin-left: 4rem;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.table-container {
  max-height: calc(100vh - 200px);
  /* Ajusta el valor según sea necesario */
  overflow-y: auto;
}

.backgroundImage {
  background-image: url('/images/others/tablero.jpg');
  background-repeat: no-repeat;
}

.backgroundImagetwo {
  background-image: url('/images/others/tablero053.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.backgroundImagethree {
  background-image: url('/images/others/tablero02.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.backgroundImagefour {
  background-image: url('/images/others/tablero04.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.backgroundImagefaith {
  background-image: url('/images/others/tablero05.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

h1 {
  font-family: "Patua One", Arial, Tahoma, sans-serif;
  font-size: 40px;
}

p {
  font-family: 'Dosis', sans-serif;
  color: #626262;
}

nav {
  font-family: 'Dosis', sans-serif;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms, transform 500ms;
}